#content {
    margin: 24vh 30% 0;
    width: 50%;
}

.timeBlock {
    width: 100%;
    min-height: 12vh;
    background-color: rgba(71, 146, 216, 0);
    transition: 1s all ease;
}

.timeBlock:hover {
    background-color: rgba(71, 146, 216, 0.1);
}

.timeline {
    clear: both;
    height: 12vh;
    width: 5%;
    float: left;
    padding-left: 5%;
}

.timeline img {
    height: 12vh;
}

.event {
    width: 80%;
    float: right;
    font-size: 2vh;
    text-align: justify;
    opacity: 0.75;
    transition: 0.5s all ease;
}

.event:hover {
    opacity: 1;
}

.time {
    font-weight: 900;
    color: rgb(36, 68, 136);
}