a {
    color: white;
    font-weight: bold;
}

body {
    overflow: hidden;
}

#content {
    width: 70%;
    margin: 25vh 15% 8vh;
}

#title {
    width: 60%;
    background: black;
    color: white;
    margin: 0 auto 0;
    height: 5vh;
    font-weight: bold;
    text-align: center;
    line-height: 5vh;
    font-size: 3.5vh;
    opacity: 0.75;
}

#view {
    float: left;
    max-width: 40%;
    height: 32vh;
    overflow: hidden;
    margin-top: 12vh;
    box-shadow: 0.8vh 0.8vh 2vh #444444;
    border-radius: 1vh;
    transition: all ease 1s;
}

#view img {
    height: 100%;
}

#view:hover {
    opacity: 0.8;
}

#intro {
    float: left;
    text-indent: 2em;
    line-height: 2.7vh;
    font-size: 2vh;
    margin-top: 6vh;
    margin-left: 10%;
    width: 50%;
    text-align: justify;
    color: black;
    opacity: 1;
    transition: 0.5s all ease;
}

#intro:hover {
    opacity: 0.8;
}

