#content {
    width: 40%;
    margin: 24vh auto 8vh;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3vh;
    padding: 2vh 6vh 6vh 6vh;
    line-height: 2.5vh;
    transition: 1s all ease;
}

#content:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

h1 {
    color: rgb(42, 119, 190);
    margin-top: 4vh;
}

p {
    text-indent: 2em;
}

#history font {
    font-weight: bold;
    color: rgb(28, 70, 146);
}

#certifications {
    width: 60%;
    margin: 4vh auto 2vh;
    text-align: center;
    font-size: 1.2vh;
    letter-spacing: 0.2em;
    line-height: 2vh;
    color: rgb(79, 113, 177);
}

#certifications img {
    width: 50%;
    float: left;
}
