#words1 {
    height: 100vh;
    width: 2%;
    position: fixed;
    left: 20%;
}

#words2 {
    height: 100vh;
    width: 2%;
    position: fixed;
    left: 45%;
}

#words3 {
    height: 100vh;
    width: 2%;
    position: fixed;
    left: 70%;
}