<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>北京师范大学-校史</title>
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/BNU_history.css">
</head>

<body>
    <div id="banner">
        <div id="bannerImg">
            <img src="../img/Logo.png" alt="Logo" id="bannerLogo">
            <img src="../img/bannerBG.png" alt="BG" id="bannerBG">
        </div>
        <div id="bannerSections">
            <a href="BNU_main.html">
                <div class="sections">
                    简介
                </div>
            </a>
            <a href="BNU_history.html">
                <div class="sections">
                    历史
                </div>
            </a>
            <a href="BNU_graduates.html">
                <div class="sections">
                    校友
                </div>
            </a>
            <a href="BNU_college.html">
                <div class="sections">
                    外国语学院
                </div>
            </a>
            <a href="../index.html">
                <div class="sections">
                    返回首页
                </div>
            </a>
        </div>
    </div>
    <div id="content">
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1902年</font>
                京师大学堂师范馆创办。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1904年</font>
                改称优级师范科。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1908年</font>
                独立为京师优级师范学堂。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1912年</font>
                改称北京高等师范学校。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1923年7月</font>
                升格为国立北京师范大学校。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1927年</font>
                北京国立高校被整合为京师大学校，改称京师大学校师范部。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1928年</font>
                国民政府实施大学区制，平津国立高校被整合为国立北平大学，改称国立北平大学第一师范学院。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1929年8月</font>
                重新独立设置，称国立北平师范大学。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1931年7月</font>
                由国立北京女子师范大学校沿革而来的国立北平大学女子师范学院并入国立北平师范大学。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1937年7月</font>
                全面抗战爆发，师生被迫西迁，参与组建国立西北联合大学。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1939年8月</font>
                国立西北联合大学解体，独立为国立西北师范学院，部分师生参与国立西北大学的建设。抗日战争胜利后，回归北平。通过甄审，接收伪北京师范大学复校复大。部分师生驻守兰州，继续建设西北师范学院。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1949年</font>
                北平和平解放，复用“北京师范大学”原名。
            </div>
        </div>
        <div class="timeBlock">
            <div class="timeline">
                <img src="../img/timeline.png" alt="timeline">
            </div>
            <div class="event">
                <br>
                <font class="time">1952年</font>
                1952年，全国高校院系调整，辅仁大学主体并入北京师范大学。
            </div>
        </div>
    </div>
    <div id="whiteOverlay"></div>
    <div id="BG">
        <img src="../img/BG2.jpg" alt="BG">
    </div>
</body>

</html>