<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>北京师范大学</title>
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/BNU_main.css">
</head>

<body>
    <div id="banner">
        <div id="bannerImg">
            <img src="../img/Logo.png" alt="Logo" id="bannerLogo">
            <img src="../img/bannerBG.png" alt="BG" id="bannerBG">
        </div>
        <div id="bannerSections">
            <a href="../index.html">
                <div class="sections">
                    返回首页
                </div>
            </a>
            <a href="../index.html">
                <div class="sections">
                    简介
                </div>
            </a>
            <a href="../index.html">
                <div class="sections">
                    历史
                </div>
            </a>
            <a href="../index.html">
                <div class="sections">
                    校友
                </div>
            </a>
        </div>
    </div>
</body>

</html>