<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>北京师范大学</title>
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/BNU_main.css">
</head>

<body>
    <div id="banner">
        <div id="bannerImg">
            <img src="../img/Logo.png" alt="Logo" id="bannerLogo">
            <img src="../img/bannerBG.png" alt="BG" id="bannerBG">
        </div>
        <div id="bannerSections">
            <a href="BNU_main.html">
                <div class="sections">
                    简介
                </div>
            </a>
            <a href="BNU_history.html">
                <div class="sections">
                    历史
                </div>
            </a>
            <a href="BNU_graduates.html">
                <div class="sections">
                    校友
                </div>
            </a>
            <a href="BNU_college.html">
                <div class="sections">
                    外国语学院
                </div>
            </a>
            <a href="../index.html">
                <div class="sections">
                    返回首页
                </div>
            </a>
        </div>
    </div>
    <div id="content">
        <div id="view">
            <img src="../img/BG2.jpg" alt="BNU_view">
        </div>
        <div id="intro">
            <p>
                北京师范大学，是中华人民共和国教育部直属、中央直管副部级建制的全国重点大学，位列双一流、985工程、211工程，国家“七五”、“八五”首批重点建设十所大学之一；是粤港澳大湾区物流与供应链创新联盟成员高校；入选珠峰计划、2011计划、111计划、卓越法律人才教育培养计划、国家建设高水平大学公派研究生项目、国家大学生创新性实验计划、中国政府奖学金来华留学生接收院校，设有研究生院，是一所以教师教育、教育科学和文理基础学科为主要特色的著名学府。毛主席为北京师范大学亲笔题写校名。
            </p>
            <p>
                2002年百年校庆之际，教育部和北京市决定重点共建北京师范大学。2017年学校进入国家“世界一流大学”建设A类名单，11个学科进入国家“世界一流学科”建设名单。在2018年学科评估（第五轮）结果，北师大教育学、心理学、中国语言文学、中国史、戏剧与影视学、地理学6个一级学科获评A＋，2个一级学科获评A，7个一级学科获评A-，获评A+数量居全国高校第六位。2018年北师大在京高考提档线（文科）位列第四。
            </p>
        </div>
    </div>
    <div id="blackOverlay"></div>
    <div id="BG">
        <img src="../img/BG2.jpg" alt="BG">
    </div>
</body>

</html>