<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>JS 效果展示</title>
    <link rel="stylesheet" href="../css/js_effects.css">
</head>

<body>
    <marquee direction=down behavior="scroll" scrolldelay="0" onmouseover="stop()" onmouseout="start()" id="words1">
        a <br>
        b <br>
        c <br>
        d <br>
        e <br>
        f <br>
        g
    </marquee>
    <marquee direction=down behavior="scroll" scrolldelay="100" onmouseover="stop()" onmouseout="start()" id="words2">
        a <br>
        b <br>
        c <br>
        d <br>
        e <br>
        f <br>
        g
    </marquee>
    <marquee direction=down behavior="scroll" scrolldelay="200" onmouseover="stop()" onmouseout="start()" id="words3">
        a <br>
        b <br>
        c <br>
        d <br>
        e <br>
        f <br>
        g
    </marquee>
    <marquee direction=down behavior="scroll" scrolldelay="300" onmouseover="stop()" onmouseout="start()" id="words4">
        a <br>
        b <br>
        c <br>
        d <br>
        e <br>
        f <br>
        g
    </marquee>
</body>

</html>