<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>其它作业内容</title>
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/my_work.css">
</head>

<body>
    <div id="goHome">
        <a href="../index.html">
            <img src="../img/home.svg" alt="back" height="100%">
        </a>
    </div>
    <div class="showBox">
        <div class="content">
            <object type="application/x-shockwave-flash" id="flash">
                <param name="movie" value="../doc/animals.swf">
                </param>
                <param name="wmode" value="opaque">
                </param>
            </object>
            <br>
            (请打开浏览器的flash插件以预览)
        </div>
    </div>
    <div class="showBox">
        <div class="content">
            <img src="../img/psd_Screenshot.png" alt="psd_Screenshot" width="80%;">
        </div>
        <br>
        Ps 内截图
    </div>
    <div class="showBox">
        <div class="content">
            <img src="../img/psd_Output.png" alt="psd_Output" width="50%">
        </div>
        <br>
        Ps 导出成品
    </div>
    <div class="linkBox">
        <div class="title">
            <a href="js_effects.html">JS 效果预览网页</a>
        </div>
    </div>
    <div class="linkBox">
        <div class="title">
            <a href="../doc/flash与ps成品.zip">作业成品压缩包</a>
        </div>
    </div>
    <div id="blackOverlay"></div>
    <div id="BG">
        <img src="../img/BG1.jpg" alt="Background Image">
    </div>
</body>

</html>